<!DOCTYPE html>
<html lang="en" ng-app="roomManagement">
<head>
  <meta charset="UTF-8">
  <title>Room Management</title>
  <script type="application/javascript" src="js/lib/angular.min.js"></script>
  <script type="application/javascript" src="js/application.js"></script>
  <script type="application/javascript" src="js/lecture/service/lectureService.js"></script>
  <script type="application/javascript" src="js/lecture/controller/lectureListController.js"></script>
  <script type="application/javascript" src="js/lecture/controller/lectureEditController.js"></script>
  <script type="application/javascript" src="js/lecture/directive/lectureListDirective.js"></script>
</head>
<body>
<h1>Room Management</h1>
<h2>Lecture List</h2>
<lecture-list></lecture-list>
<form name="lectureEditForm" ng-controller="lectureEditController">
  <input name="title" type="text" ng-model="lecture.title">
  <input name="room.id" type="text" ng-model="lecture.room.id">
  <input type="submit" ng-click="saveLecture()"/>
</form>
</body>
</html>
