<!DOCTYPE html>
<html lang="en" ng-app="roomManagement">
<head>
  <meta charset="UTF-8">
  <title>Room Management</title>
  <script type="application/javascript" src="js/lib/angular.min.js"></script>
  <script type="application/javascript" src="js/application.js"></script>
  <script type="application/javascript" src="js/room/service/roomService.js"></script>
  <script type="application/javascript" src="js/room/controller/roomListController.js"></script>
  <script type="application/javascript" src="js/room/controller/roomEditController.js"></script>
  <script type="application/javascript" src="js/room/directive/roomListDirective.js"></script>
  <style>
    .invalid input {
      border-color: red;
    }
  </style>
</head>
<body>
<h1>Room Management</h1>
<h2>Room List</h2>
<room-list></room-list>
<form name="roomEditForm" ng-controller="roomEditController" ng-class="{invalid:(roomEditForm.$dirty && roomEditForm.$invalid)}">
  <input name="building" type="text" ng-model="room.building" required maxlength="1" minlength="1" pattern="[ABCDEH]">
  <span ng-show="roomEditForm.building.$dirty && roomEditForm.building.$invalid">Bitte gibt ein gültiges Gebäude an.</span>
  <input name="number" type="text" ng-model="room.number" required maxlength="3" minlength="3" pattern="[0-9]{3}">
  <span ng-show="roomEditForm.number.$dirty && roomEditForm.number.$invalid">Bitte gib eine gültige Raumnummer an.</span>
  <input type="submit" ng-disabled="roomEditForm.$invalid" ng-click="saveRoom()"/>
</form>
</body>
</html>
